<div class = "container">
<h1> NAME: <%= @restaurant.name %></h1>
<hr>
<p>ADDRESS: <%= @restaurant.address %></p>
<p>PHONE NUMBER: <%= @restaurant.phone_number %></p>
<p>CATEGORY: <%= @restaurant.category %></p>
<hr>
<%= link_to "<--BACK TO HOMEPAGE", restaurants_path  %>
</div>
